body{
  background: url(img/bg.jpg);
  margin: 0;
  padding: 0;
  color:#FFF;
  font-family: Open Sans Condensed,sans-serif;
}

.App {
  text-align: center;
}
.menuPrincipal{
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.menuPrincipal li{
  list-style: none;
  display: inline-block;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  padding: 15px 20px;
}
.menuPrincipal li a{
  text-decoration: none;
  padding: 15px 0;
  color: #BBB;
  font-weight: bold;
}
.menuPrincipal li a:hover{
  color:white;
  text-decoration: underline;
}

.results {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  flex-flow: row wrap;
}

.results__item {
  text-align: left;
  display: inline-block;
  position: relative;
  margin: 0 1% 15px;
  box-shadow: 0 3px 5px #d8d499;
  background:#222;
  padding: 15px 20px;
  width: 25%;
  overflow: hidden;
  list-style: none;
  flex-direction: column;
}

.results__icon {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: auto;
  height: 80px;
  opacity: .5;
}
.results__title {
  margin: 0 0 10px;
  border-bottom: 1px solid #d8d499;
  padding-bottom: 3px;
  line-height: 2rem;
  font-family: 'Josefin Slab', serif;
  font-size: 1.5rem;
}
span {
  font-size: 1rem;
  color: #d8d499;
}
.results__info {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5rem;
}

.pages li{
  position: relative;
  background: #222;
  width: 5%;
  padding: 1%;
  margin: 1%;
  height: 20px;
  display: inline-block;
  color: white;
  border: 1px solid white;
}
.pages li a{
  text-decoration: none;
  color: yellow;
}





footer{
  background: #000;
  color: #333;
  padding: 20px 0;
}
footer a{
  text-decoration: none;
  color:yellow
}